{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <script>
        setTimeout(()=> {
            document.getElementById('message').style.display='none'
        },5000)
    </script>
    <form action="/" method="post">
        <h1>Login</h1>
        {% if messages %}
        {% comment %} <ul class="messages"> {% endcomment %}
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %} id="message">{{ message }}</p>
            {% endfor %}
        {% comment %} </ul> {% endcomment %}
        {% endif %}
        {% csrf_token %}
    
            <input type="text" name="name" id="" placeholder="Enter your Name">
            <input type="password" name="password" id="" placeholder="Enter the Password">
            <input type="submit" value="Submit">
            <a href="/create">Create New User</a>
        </form>

</body>
</html>