{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'indi.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <title>Document</title>
</head>
<body>
    <script>
        setInterval(() => {
            $.ajax({
                url:'/dashboard',
                method:'GET'
            })
            console.log('Called')
        }, 5000);

        
        setTimeout(()=> {
            document.getElementById('message').style.display='none'
        },5000)
    </script>
    <div class="header">
        <p onclick="document.getElementById('credit').style.display=(document.getElementById('credit').style.display == 'none')?'block' :'none'">Credit Amount</p>
        <p onclick="document.getElementById('dedit').style.display=(document.getElementById('dedit').style.display == 'none')?'block' :'none'">Debit Amount</p>
        <p onclick="document.getElementById('balance').style.display=(document.getElementById('balance').style.display == 'none')?'block' :'none'">Balance Inquiry</p>
        <p onclick="document.getElementById('logs').style.display=(document.getElementById('logs').style.display == 'none')?'block' :'none'">Transaction Logs</p>
        <!-- <a href="/musicplayer/{{id}}"><p onclick="document.getElementById('music').style.display=(document.getElementById('music').style.display == 'none')?'block' :'none'">Music</p></a> -->
        <a href="/logout"><p>Logout</p></a>
        
    </div>
    
    {% csrf_token %}
    <div class='container'>
        
        {% for usr in users %}
        <h1>Welcome Back {{usr.username}}!!</h1>
        {% if messages %}
    {% comment %} <ul class="messages"> {% endcomment %}
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color:red" id="message">{{ message }}</p>
        {% endfor %}
    {% comment %} </ul> {% endcomment %}
    {% endif %}
        <h3 id='balance' style="display:none;">Your available balance is {{usr.balance}} </h3>
        <form action='/credit' method='post' id='credit' style="display:none;">
            {% csrf_token %}
            
            <input type='decimal' name='credit' placeholder='Enter the amount to credit'>
            <input type='password' name='pin' placeholder='Enter your PIN'>
            
            <input type='submit' value='Credit'>
        </form>
        <form action='/debit' method='post' id='dedit' style="display:none;">
            {% csrf_token %}
            
            <input type='decimal' name='debit' placeholder='Enter the amount to debit'>
            <input type='password' name='pin' placeholder='Enter your PIN'>
            
            <input type='submit' value='Debit'>
        </form>
        {% endfor %}
        <table id='logs' style='display:none;'>
            <tr>
                <th colspan=3>Account Statement</th>
            </tr>
            <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>Balance</th>
                {% comment %} <th></th> {% endcomment %}

            </tr>
            {% if trans %}
            {% for tran in trans %}
            <tr>
                <td>{{tran.transaction_type}}</td>
                <td>{{tran.amount}}</td>
                <td>{{tran.balance}}</td>

            </tr>
            {% endfor %}
            {% endif %}
        </table>
        
    </div>
</body>
</html>